

NET "ten_out[6]" LOC = P3;
NET "ten_out[5]" LOC = P4;
NET "ten_out[4]" LOC = P5;
NET "ten_out[3]" LOC = P6;
NET "ten_out[2]" LOC = P7;
NET "ten_out[1]" LOC = P8;
NET "ten_out[0]" LOC = P10;
NET "one_out[6]" LOC = P11;
NET "one_out[5]" LOC = P12;
NET "one_out[4]" LOC = P13;
NET "one_out[3]" LOC = P15;
NET "one_out[2]" LOC = P16;
NET "one_out[1]" LOC = P18;
NET "one_out[0]" LOC = P19;
NET "ten_pc[6]" LOC = P20;
NET "ten_pc[5]" LOC = P21;
NET "ten_pc[4]" LOC = P24;
NET "ten_pc[3]" LOC = P25;
NET "ten_pc[2]" LOC = P27;
NET "ten_pc[1]" LOC = P28;
NET "ten_pc[0]" LOC = P29;
NET "one_pc[6]" LOC = P55;
NET "one_pc[5]" LOC = P58;
NET "one_pc[4]" LOC = P59;
NET "one_pc[3]" LOC = P60;
NET "one_pc[2]" LOC = P62;
NET "one_pc[1]" LOC = P63;
NET "one_pc[0]" LOC = P64;
NET "ten_team[6]" LOC = P68;
NET "ten_team[5]" LOC = P69;
NET "ten_team[4]" LOC = P70;
NET "ten_team[3]" LOC = P71;
NET "ten_team[2]" LOC = P72;
NET "ten_team[1]" LOC = P75;
NET "ten_team[0]" LOC = P76;
NET "one_team[6]" LOC = P77;
NET "one_team[5]" LOC = P78;
NET "one_team[4]" LOC = P79;
NET "one_team[3]" LOC = P82;
NET "one_team[2]" LOC = P83;
NET "one_team[1]" LOC = P84;
NET "one_team[0]" LOC = P85;
NET "clk" LOC = P57;
NET "reset" LOC = P47;

# PlanAhead Generated physical constraints 

NET "inst[7]" LOC = P130;
NET "inst[6]" LOC = P129;
NET "inst[5]" LOC = P127;
NET "inst[4]" LOC = P126;
NET "inst[3]" LOC = P125;
NET "inst[2]" LOC = P124;
NET "inst[1]" LOC = P121;
NET "inst[0]" LOC = P120;
NET "pc[7]" LOC = P105;
NET "pc[6]" LOC = P104;
NET "pc[5]" LOC = P103;
NET "pc[4]" LOC = P102;
NET "pc[3]" LOC = P101;
NET "pc[2]" LOC = P99;
NET "pc[1]" LOC = P98;
NET "pc[0]" LOC = P96;
